<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF</title>
</head>
<body>
    <div class="jumbotron">
        <h1>HTML to PDF</h1>
        <p class="lead">Convert Html to PDF</p>
        <p>
            <a href=@Url.Action("ConvertSF", "Home") class="btn btn-primary btn-lg">Convert Syncfusion »</a>
            <a href=@Url.Action("ConvertIT","Home") class="btn btn-primary btn-lg">Convert IText »</a>
            <a href=@Url.Action("ConvertITS","Home") class="btn btn-primary btn-lg">Convert ITextSharp »</a>
        </p>
    </div>
<div>
</div>
</body>
</html>
